body{
    margin: 0px;
}

/* Container */
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    font-size: 20px;

}

/* Sidebar Section */
.sidebar{
    grid-row: 1 / -1;
    background-color: lightskyblue;
}

.side_tab{
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-auto-rows: 50px;
}

.tabs > a{
    color: inherit;
    text-decoration: none;
}

li.tabs{
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 10px;
    color: white;
}

li.tabs > svg{
    justify-self: center;
}


.dashboard{
    font-size: 1.5em;
}

/* Header Section */
.header{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
}

.header > .search_bar{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

#search{
    height: 1em;
}

.menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
}

.menu_button{
    color: white;
    background-color: lightskyblue;
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 100px;
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.24) */
}

.menu_button:active{
    transform: scale(0.98);
}

/* Main Section */
.main_section{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project_section{
    grid-row: 1 / -1;
}



/* Styles */
li{
    list-style-type: none;
}


img{
    height: 1em;
}

svg{
    height: 1em;
    fill: currentColor;
}

